/* SelectAnimal.css */
.select-animal-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columns */
  gap: 15px;
  background-color: rgb(62, 156, 245); /* Set background color to blue */
  padding: 10px; /* Optional: Add padding if you want space around the grid items */
}

.select-animal-grid img {
  width: 100%;
  height: 150px;  /* Increased height for images */

  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.select-animal-grid img:hover {
  transform: scale(1.1); /* Zoom effect on hover */
}
